body {
  .root {
    &::before {
      border: 2px solid #E0DEF7;
      border-radius: 10px;
      top: 0;
      transition: none;
    }
    &:hover{
      &::before {
        border-color: #000;
      }
    }
    &::after {
      top: 0;
      border: 2px solid #3056D3;
      border-radius: 10px;
      transition: none;
    }
  }
  .rootError {
    &::before {
      border-color: #FF0000;
    }
  }
  .input {
    padding: 26px 24px;
    line-height: 18px;
    height: 18px;
    font-size: 18px;
    font-weight: 700;
    color: #000;
  }
}
