body {
  .paper {
    border-radius: 10px !important;
  }
  .wrapper {
    position: relative;
    padding: 40px;
    flex: 1;
    overflow: auto;
  }

  .closeIconWrapper {
    position: absolute;
    top: 6px;
    right: 6px;
    padding: 4px;
  }

  .closeIcon {
    width: 30px;
    height: 30px;
  }
}
