body {
  background: #fafafa;
  .mt10 {
    margin-top: 10px;
  }
  .mr10 {
    margin-right: 10px;
  }
  .mb10 {
    margin-bottom: 10px;
  }
  .ml10 {
    margin-left: 10px;
  }
  .mt30 {
    margin-top: 30px;
  }
  .mr30 {
    margin-right: 30px;
  }
  .mb30 {
    margin-bottom: 30px;
  }
  .ml30 {
    margin-left: 30px;
  }
  .mt40 {
    margin-top: 40px;
  }
  .mt45 {
    margin-top: 45px;
  }
  .mr45 {
    margin-right: 45px;
  }
  .mb45 {
    margin-bottom: 45px;
  }
  .ml45 {
    margin-left: 45px;
  }
  .mt50 {
    margin-top: 50px;
  }
}
