html * {
  font-family: NotoSans, Helvetica Neue, Helvetica !important;
  font-weight: 500;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
}

.absolute {
  position: absolute;
}
input:-internal-autofill-selected {
  box-shadow: inset 0 0 0 1000px #fff !important;
}
