html {
  * {
    font-family: NotoSans, Helvetica Neue, Helvetica !important;
  }
  .gray-main {
    color: #333;
  }

  .f14 {
    font-size: 14px;
  }

  .f20 {
    font-size: 20px;
  }

  .f24 {
    font-size: 24px;
  }
}
